.container {
  background-color: hsl(222.2 84% 4.9%);
  color: hsl(210 40% 98%);
  padding: 1rem;
  border-radius: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;

  border-radius: 0.5rem;
}

.blue {
  background-color: hsl(217.2 91.2% 59.8%);
  color: hsl(222.2 47.4% 11.2%);
}

.red {
  background-color: hsl(0 72.2% 50.6%);
  color: hsl(0 85.7% 97.3%);
}

.yellow {
  background-color: hsl(47.9 95.8% 53.1%);
  color: hsl(26 83.3% 14.1%);
}

.md {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}

.lg {
  height: 3.5rem;
  padding: 0 1rem;
  font-size: 2rem;
}